<div class="row pt55  bdfrt1">
    
    <div class="col-sm-6 mx-auto col-xl-4">
      <div class="icon_boxes">
        <div class="icon">
          <span class="bi bi-shield-fill-check"></span>
        </div>
        <div class="details">
          <h5 class="title">Money Guarantee</h5>
          <p class="para">Within 30 days for an exchange.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mx-auto col-xl-4">
      <div class="icon_boxes">
        <div class="icon">
          <span class="bi bi-headset"></span>
        </div>
        <div class="details">
          <h5 class="title">Online Support</h5>
          <p class="para">24 hours a day, 7 days a week</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mx-auto col-xl-4">
      <div class="icon_boxes">
        <div class="icon">
          <span class="bi bi-credit-card-fill"></span>
        </div>
        <div class="details">
          <h5 class="title">Flexible Payment</h5>
          <p class="para">Pay with Multiple Credit Cards</p>
        </div>
      </div>
    </div>
  </div>