
{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<style>
    #id_email{
        border: 1px solid black;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        font-family: poppins;
    }
    #id_email:active{
        outline: none;
    }
    #id_email:focus{
        outline: none;
    }
</style>

<section class="our-log-reg bgc-f5">
    <div class="container">
        <div class="row">
    <div class="col-lg-6 col-xl-5 col-xxl-4 m-auto">
      <div class="log_reg_form mt70-992">
        <h2 class="title">Password Reset</h2>
        <div class="login_form">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-2 mr-sm-2">
              <label class="form-label">Email address</label>
              <br>
              {{form.email}}
            </div>
            
            <button type="submit" class="btn btn-lofg btn-tfhm purple-btn mt20 w100">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
        </div>
    </div>
</section>
{% endblock content %}
