<style>
  ul,
  li {
    list-style: none;
  }
  @media screen and (max-width: 1100px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      display: none;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    table td,
    th {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }
</style>
<div class="body_content_wrapper position-relative">
  <!-- Inner Page Breadcrumb -->
  <section class="inner_page_breadcrumb" style="margin-top: 10px">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="breadcrumb_content">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'store:home' %}">Home</a>
              </li>
              <li class="breadcrumb-item"><a>Shop</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <a>Shopping Cart</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Shop Checkouts Content -->
  <section class="shop-cart pt30">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 m-auto">
          <div class="main-title text-center mb50">
            <h2 class="title">Shopping Cart</h2>
            <!-- <input type="text" name="" id=""> -->
          </div>
        </div>
      </div>
      <div class="row mt15" id="cartList">
        <p class="para">
          You have <span class="cart-list">{{totalcartitems }}</span> items in
          your cart
        </p>

        <div class="col-lg-8 col-xl-9">
          <div class="shopping_cart_table table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">PRODUCT</th>
                  <th scope="col">PRICE</th>
                  <th scope="col">QUANTITY</th>
                  <th scope="col">TOTAL</th>
                  <th scope="col">UPDATE</th>
                  <th scope="col">REMOVE</th>
                </tr>
              </thead>
              <tbody class="table_body">
                {% for product_id, p in cart_data.items %}
                <tr>
                  <th scope="row">
                    <ul class="cart_list d-block d-xl-flex">
                      <li class="ps-1 ps-sm-4 pe-1 pe-sm-4">
                        <a href="#"
                          ><img
                            src="{{p.image}}"
                            style="
                              width: 100px;
                              height: 80px;
                              object-fit: cover;
                              border-radius: 10px;
                            "
                            alt="cart1.png"
                        /></a>
                      </li>
                      <li class="ms-2 ms-md-3">
                        <a
                          class="cart_title"
                          href="{% url 'store:product-detail' p.product_slug %}"
                        >
                          <span class="fz16">{{p.title|truncatechars:27}}</span>
                          <br />
                          <span class="fz16">By: <b><i>{{p.shop_name|title}}</i></b></span>
                          <br />
                          <span class="fz16">Stock Qty: </a><span id="stock_qty{{product_id}}">{{p.product_stock_qty}}</span></span>

                          <br />
                        </a>
                      </li>
                    </ul>
                  </th>
                  <td>{{ cs }}{{p.price}}</td>
                  <input
                    type="hidden"
                    class="product-shipping_amount-{{ product_id }}"
                    value="{{ p.shipping_amount }}"
                  />
                  <input
                    type="hidden"
                    class="product-product_processing_fee-{{ product_id }}"
                    value="{{ p.product_processing_fee }}"
                  />
                  <input
                    type="hidden"
                    class="product-product_tax_fee-{{ product_id }}"
                    value="{{ p.product_tax_fee }}"
                  />

                  <input type="hidden" class="product-product_stock_qty-{{ product_id }}" value="{{ p.product_stock_qty }}" />


                  <td>
                    <div class="cart_btn">
                      <div class="quantity-block">
                        <button
                          class="quantity-arrow-minus inner_page"
                          id="decrease-btn"
                          data-btn="{{product_id}}"
                          data-cart-index="{{ product_id }}"
                        >
                          <span class="fa fa-minus"></span>
                        </button>
                        <input
                          class="quantity-num-{{ product_id }} quantity-num inner_page product-qty-{{ product_id }}"
                          id="qty{{product_id}}"
                          type="number"
                          value="{{p.qty}}"
                        />
                        <button
                          class="quantity-arrow-plus inner_page"
                          id="increase-btn"
                          data-btn="{{product_id}}"
                          data-cart-index="{{ product_id }}"
                        >
                          <span class="fas fa-plus"></span>
                        </button>
                      </div>
                    </div>
                    <!-- <input class="cart_count text-center" placeholder="2" type="number"> -->
                  </td>
                  <td class="">{{ cs }}{% widthratio p.price 1 p.qty %}</td>
                  <td class="action text-center" data-title="Remove">
                    <button
                      style="border: none; background: none"
                      class="text-body update-item"
                      data-item="{{ product_id }}"
                    >
                      <i class="bi bi-arrow-clockwise"></i>
                    </button>
                  </td>
                  <td class="action text-center" data-title="Remove">
                    <button
                      style="border: none; background: none"
                      class="text-body delete-item"
                      data-item="{{ product_id }}"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td>
                    Your cart is empty,
                    <a href="{% url 'store:shop' %}">continue shopping</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="order_sidebar_widget style2">
            <h4 class="title">Cart Totals</h4>
            <ul>
              <li class="subtitle">
                <p>
                  Product Subtotal
                  <span class="float-end"
                    >{{ cs }}{{cart_total_amount|floatformat:2}}</span
                  >
                </p>
              </li>
              <!-- <li class="subtitle"><p>Order Discounts <span class="float-end">-$30.01</span></p></li> -->
              <li class="subtitle">
                <p>
                  Estimated Shipping
                  <i
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Tooltip on top"
                    class="bi bi-info-circle-fill"
                  ></i>
                  <span class="float-end">{{ cs }}{{total_shipping_amount}}</span>
                </p>
              </li>
              <li class="subtitle">
                <p>
                  Estimated {{tax_country.custom_name}}
                  <i
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Tooltip on top"
                    class="bi bi-info-circle-fill"
                  ></i
                  ><span class="float-end">{{cs}}{{ total_tax|floatformat:2 }}</span>
                </p>
              </li>
              <li class="subtitle">
                <p>
                  Service Fee
                  <span class="float-end"
                    >{{ cs }}{{product_processing_fee_|floatformat:2}}</span
                  >
                </p>
              </li>
              <!-- <li class="subtitle"><p>Estimated Taxes <i data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" class="bi bi-info-circle-fill"></i><span class="float-end">{{ cs }}{{total_tax|floatformat:2}}</span></p></li> -->
              <!-- <li class="subtitle"><p>Service Fee <span class="float-end">{{ cs }}{{service_fee_amount|floatformat:2}}</span></p></li> -->
              <li class="subtitle"><hr /></li>
              <li class="subtitle totals">
                <p>
                  Total
                  <span class="float-end">{{cs}}{{total_amount|floatformat:2}}</span>
                </p>
              </li>
            </ul>
          </div>
      
          <a
            href="{% url 'store:shipping_address' %}"
            class="btn w100 mt-4 purple-btn"
            >Continue</a
          >
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  $(document).on("click", "#increase-btn", function () {
    let id = $(this).attr("data-btn");
    var input_value = $("#qty" + id).val();
    console.log(input_value);

    if (input_value >= 0) {
      input_value++;
      $("#qty" + id).val(input_value);
    }
  });

  $(document).on("click", "#decrease-btn", function () {
    let id = $(this).attr("data-btn");
    var input_value = $("#qty" + id).val();
    console.log(input_value);

    if (input_value >= 0) {
      input_value--;
      $("#qty" + id).val(input_value);
    }

    if (input_value === 0) {
      $("#qty" + id).val(1);
    }
  });
</script>