{% extends "partials/base.html" %}
{% load static %}
{% block title %}
  Invoices
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<section class="our-dashbord dashbord">
  <div class="container">
    <div class="row">
      {% include 'buyer/nav-desktop.html' %}
      <div class="col-lg-9 col-xl-9">
        {% include 'buyer/nav-mobile.html' %}
        <div class="row">
          <div class="col-xl-12">
            <div class="account_user_deails pl40 pl0-md">
              <h2 class="title mb30">My Invoices</h2>
              <div class="ui_kit_tab style2">
                <!-- nav tab Nav List Start -->
                <div class="tab-content pt20 row" id="myTabContent">
                  <div class="tab-pane fade show active col-lg-12" id="t20" role="tabpanel" aria-labelledby="t20-tab">
                    <div class="account_user_deails pl40 pl0-lg">
                      <div class="order_table table-responsive">
                        <table class="table">
                          <thead class="table-light" id="">
                            <tr>
                              <th scope="col">ID</th>
                              <!-- <th scope="col">Product</th> -->
                              <th scope="col">Date</th>
                              <th scope="col">Payment</th>
                              <th scope="col">Total</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in invoices %}
                            <tr>
                              <th scope="row">{{i.oid}}</th>
                              <!-- <td>{{o.product}}</td> -->
                              <td><small>{{i.date}}</small></td>
                              <td class="text-success">{{i.payment_status|title}}</td>
                              <td>{{ cs }}{{ i.total }}</td>
                              <td class="statufs"><span class="style4"><a
                                    href="{% url 'core:buyer-invoice-detail' i.oid %}"><i class="fas fa-eye">
                                    </i></a></span></td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td>
                                <h4>No Orders Yet</h4>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade col-lg-12" id="baby" role="tabpanel" aria-labelledby="baby-tab">
                    <div class="account_user_deails pl40 pl0-lg">
                      <h2 class="title mb30">Shipped</h2>
                      <div class="order_table table-responsive">
                        <table class="table">
                          <thead class="table-light">
                            <tr>
                              <th scope="col">ID</th>
                              <!-- <th scope="col">Product</th> -->
                              <th scope="col">Date</th>
                              <th scope="col">Payment</th>
                              <th scope="col">Delivery Status</th>
                              <th scope="col">Order Status</th>
                              <th scope="col">Total</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for o in shipped %}
                            <tr>
                              <th scope="row">{{o.oid}}</th>
                              <!-- <td>{{o.product}}</td> -->
                              <td><small>{{o.date}}</small></td>
                              <td class="text-success">{{o.payment_status|title}}</td>
                              <td class="status"><span class="stylde4">{{o.delivery_status|title}}</span></td>
                              <td class="status"><span class="stdyle4">{{o.order_status|title}}</span></td>
                              <td>{{ cs }}{{ o.total }}</td>
                              <td class="status"><span class="style4"><a
                                    href="{% url 'core:buyer-order-detail' o.oid %}">View Detail</a></span></td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td>
                                <h4>No Orders Yet</h4>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade col-xl-12" id="furniture" role="tabpanel" aria-labelledby="furniture-tab">
                    <div class="account_user_deails pl40 pl0-lg">
                      <h2 class="title mb30">Delivered Orders</h2>
                      <div class="order_table table-responsive">
                        <table class="table">
                          <thead class="table-light">
                            <tr>
                              <th scope="col">ID</th>
                              <!-- <th scope="col">Product</th> -->
                              <th scope="col">Date</th>
                              <th scope="col">Payment</th>
                              <th scope="col">Delivery Status</th>
                              <th scope="col">Order Status</th>
                              <th scope="col">Total</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for o in collected %}
                            <tr>
                              <th scope="row">{{o.oid}}</th>
                              <!-- <td>{{o.product}}</td> -->
                              <td><small>{{o.date}}</small></td>
                              <td class="text-success">{{o.payment_status|title}}</td>
                              <td class="status"><span class="stylde4">{{o.delivery_status|title}}</span></td>
                              <td class="status"><span class="stdyle4">{{o.order_status|title}}</span></td>
                              <td>{{ cs }}{{ o.total }}</td>
                              <td class="status"><span class="style4"><a
                                    href="{% url 'core:buyer-order-detail' o.oid %}">View Detail</a></span></td>
                            </tr>
                            {% empty %}
                            <tr>
                              <td>
                                <h4>No Orders Yet</h4>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- nav tab contents End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}