<style>
   ul,li{
      list-style: none;
   }
</style>
<div class="row" style="margin-top: 140px;">
   <!-- style="margin-top: 100px;" -->
    <div class="col-lg-12">
      
       <div class="dashboard_navigationbar dn db-md " style="margin-top: -100px;">
         <div class="account_details_user d-flex pb10 bb1 mb10 shadow p-3" style="border-radius: 10px;">
            <img class="me-3" src="{{request.user.profile.image.url}}" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" alt="Generic placeholder image">
            <div class="content_details text-start">
               
               {% if request.user.profile.full_name %}
               <h5 class="title">{{request.user.profile.full_name|title}}</h5>
               {% else %}
               <h5 class="title">{{request.user.username|title}}</h5>
               {% endif %}
                  
               <a class="stitle" >{{request.user.email}}</a> <br>
               <a class="stitle" >Account ID: <b><i>{{request.user.id}}</i></b></a>

            </div>
         </div>
          <div class="dropdown">
             <button onclick="myFunction()" class="dropbtn"><i class="fas fa-bars pr10"></i> Dashboard Navigation</button>
             <ul id="myDropdown" class="dropdown-content">
                <li><a class="active" href="{% url 'core:buyer-dashboard' %}"><span class="bi bi-grid-3x3-gap-fill"></span>Dashboard</a></li>
                <li><a class="active" href="{% url 'core:profile' %}"><span class="fas fa-user"></span>Account Details</a></li>
                <li><a href="{% url 'core:buyer-orders' %}"><span class="fas fa-list"></span>Order</a></li>
                <li><a href="{% url 'core:buyer_bids' %}"><span class="fas fa-chart-simple"></span>My Bids</a></li>
                <li><a href="{% url 'core:buyer_offer' %}"><span class="bi bi-shop"></span>My Offers</a></li>
                <li><a href="{% url 'core:buyer_message' %}"><span class="bi bi-chat-right-dots-fill"></span>Message</a></li>
                <li><a href="{% url 'core:buyer-address' %}"><span class="fas fa-location"></span>Address</a></li>
                <li><a href="{% url 'core:buyer-wishlist' %}"><span class="fas fa-heart"></span>Wishlist</a></li>
                <li><a href="{% url 'core:buyer-invoices' %}"><span class="fas fa-file-invoice"></span>Invoices</a></li>
                <li><a href="{% url 'core:settings' %}"><span class="bi bi-gear-fill"></span>Settings</a></li>
                <li><a href="{% url 'userauths:sign-out' %}"><span class="fas fa-right-from-bracket"></span>Logout</a></li>
             </ul>
          </div>
          
       </div>
    </div>
 </div>