{% extends "partials/base.html" %}
{% load static %}
{% block content %}

  <div class="body_content_wrapper position-relative">
    <!-- Inner Page Breadcrumb -->
    <section class="inner_page_breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="alert alert-{{alert_tag}} text-center">
                <strong>Ending Date: {{ product.ending_date }} -- ({{ message }})</strong>
            </div>
          </div>
        </div>
      </div>
    </section>

    


    <!-- Our Contact -->
    <section class="our-contact pt55 pb30">
      <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="form_grid " style="margin-top: 50px;">
                  <div class="wrapper">
                    <form class="contact_form" name="contact_form" action="#" method="post" novalidate>
                        {% if completed == True %}
                        <div class="row">
                            <div class="main-title">
                                <h2 class="mtitle">Bidding Concluded <i class="fas fa-check-circle text-success"></i></h2>
                                <p>The bidding for this product have been concluded and the winner is <a href="" ></a><b><i><span style="border-bottom: 1px dashed black;">{% if winner.user.profile.full_name %}{{ winner.user.profile.full_name }}{% else %}{{winner.user.username|title}}{% endif %}</span></i></b></a></p>
                            </div>
                        </div>
                      {% endif %}
                      {% if completed == False %}
                        <div class="row">
                          <div class="main-title">
                              <h2 class="mtitle">Bidding Rules and Regulatons</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
                          </div>
                          
                          {% if request.user in product.bidders.all %}
                            {% for b in other_bidders%}
                                {% if b.user == request.user %}
                                    <div class="col-sm-12">
                                        <div class="form-group mb0 ">
                                            <h5>Current Biddig Amount: {{ cs }}{{b.price}}</h5>
                                            <a href="{% url 'store:auction_update' product.pid b.bid %}" class="btn btn-thm w100">Update Bidding Amount {{ b.bid }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                          {% endif %}
                          
                          {% if not request.user in product.bidders.all %}
                            
                            <form  method="POST">
                                {% csrf_token %}
                                <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label class="form-label">Enter Bidding Price</label>
                                    <input class="form-control" type="number" name="price" id="price" placeholder="Starting at ${{product.price}}">
                                </div>
                                </div>
                                
                                <div class="col-sm-12">
                                <div class="form-group mb0 w100">
                                    <button type="submit" class="btn btn-thm w100">Bid Now</button>
                                </div>
                                </div>
                            </form>
                        {% endif %}

                        </div>
                      {% endif %}

                    </form>
                  </div>
                </div>
              </div>
              <div class="row">
                
              </div>
          
        </div>
        
        <div class="row mt60 pt55 bdrt1">
            <div class="main-title">
                <h2 class="mtitle">All Bidders</h2>
              </div>
            {% for b in other_bidders %}
            
              <div class="col-lg-3">
                <div class="contact_iconbox d-flex mb30 shadow p-3 {% if b.user == winner.user and winner.winner == True %} alert-success{% endif %}" style="border-radius: 10px;">
                    <div class="icon"><img src="{{b.user.profile.image.url}}" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%;" alt=""></div>
                    <div class="details ms-4">
                      {% if b.user.profile.full_name %}
                      <h4 class="title">{{b.user.profile.full_name}}</h4>
                      {% else %}
                      <h4 class="title">{{b.user.username|title}}</h4>
                      {% endif %}
                      <a href="#">{{cs}}{{ b.price|floatformat:2 }}</a>
                    </div>
                  </div>
              </div>
              
            {% endfor %}
        </div>
        
        <div class="row mt20 pt55 bdrt1">
          <div class="col-lg-6 offset-lg-3">
            <div class="main-title text-center">
              <h2>Frequently Asked Questions</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="shortcode_widget_accprdons mb0">
              <div class="faq_according text-start">
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span>01</span> What is the monthly cost of your app?</button>
                      </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span>02</span> Do you have any local branches?</button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span>03</span> What do I need to create an account?</button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFour">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><span>04</span> Do you have iOS and Android apps?</button>
                      </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                      <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingFive">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><span>05</span> How do I create an account?</button>
                      </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                      <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit id venenatis pretium risus euismod dictum egestas orci netus feugiat ut egestas ut sagittis tincidunt phasellus elit etiam cursus orci in. Id sed montes.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt55 bdrt1">
          <div class="col-sm-6 col-xl-3">
            <div class="icon_boxes">
              <div class="icon">
                <span class="flaticon-fast-delivery"></span>
              </div>
              <div class="details">
                <h5 class="title">Free Shipping</h5>
                <p class="para">Free Shipping for orders over $200</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="icon_boxes">
              <div class="icon">
                <span class="flaticon-shield"></span>
              </div>
              <div class="details">
                <h5 class="title">Money Guarantee</h5>
                <p class="para">Within 30 days for an exchange.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="icon_boxes">
              <div class="icon">
                <span class="flaticon-headphones"></span>
              </div>
              <div class="details">
                <h5 class="title">Online Support</h5>
                <p class="para">24 hours a day, 7 days a week</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="icon_boxes">
              <div class="icon">
                <span class="flaticon-credit-card"></span>
              </div>
              <div class="details">
                <h5 class="title">Flexible Payment</h5>
                <p class="para">Pay with Multiple Credit Cards</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  	<!-- Our Footer -->
    <section class="footer_one home1 bdrt1">
      <div class="container pb60">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="mailchimp_widget mb30-md text-center">
              <div class="icon float-start"><span class="flaticon-email-1"></span></div>
              <div class="details">
                <h3 class="title">Subscribe and get 20% discount.</h3>
              </div>
            </div>
            <div class="footer_social_widget">
              <form class="footer_mailchimp_form">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <input type="email" class="form-control" placeholder="Your email address">
                    <button class="ms-sm-2 btn-thm" type="submit">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row mt60">
          <div class="col-sm-6 col-md-5 col-lg-3 col-xl-3">
            <div class="footer_contact_widget">
              <h4>Contact Us</h4>
              <div class="footer_contact_iconbox d-flex mb-4">
                <div class="icon"><span class="flaticon-phone-call"></span></div>
                <div class="details ms-4">
                  <h5 class="title">Monday-Friday: 08am-9pm</h5>
                  <a href="#">+(1) 123 456 7890</a>
                </div>
              </div>
              <div class="footer_contact_iconbox d-flex">
                <div class="icon"><span class="flaticon-email"></span></div>
                <div class="details ms-4">
                  <h5 class="title">Need help with your order?</h5>
                  <a href="#">support@zeomart.com</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2">
            <div class="footer_qlink_widget">
              <h4>About Zenmart</h4>
              <ul class="list-unstyled">
                <li><a href="#">Track Your Order</a></li>
                <li><a href="#">Product Guides</a></li>
                <li><a href="#">Wishlists</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Store Locator</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2">
            <div class="footer_qlink_widget">
              <h4>Customer Support</h4>
              <ul class="list-unstyled">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Help Centre</a></li>
                <li><a href="#">Returns & Exchanges</a></li>
                <li><a href="#">Best Buy Financing</a></li>
                <li><a href="#">Best Buy Gift Card</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2">
            <div class="footer_qlink_widget">
              <h4>Services</h4>
              <ul class="list-unstyled">
                <li><a href="#">Geek Squad</a></li>
                <li><a href="#">In-Home Advisor</a></li>
                <li><a href="#">Trade-In Program</a></li>
                <li><a href="#">Electronics Recycling</a></li>
                <li><a href="#">Best Buy Health</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8 col-md-5 col-lg-3 col-xl-3">
            <div class="footer_social_widget">
              <h4 class="title">Follow us</h4>
              <div class="social_icon_list mt30">
                <ul class="mb20">
                  <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="footer_mobile_app_widget mb25">
              <h4 class="title mb10">Mobile Apps</h4>
              <div class="mobile_app_list">
                <ul class="mb0">
                  <li><a href="#"><span class="flaticon-apple"></span> iOS App</a></li>
                  <li><a href="#"><span class="flaticon-android"></span> Android App</a></li>
                </ul>
              </div>
            </div>
            <div class="footer_acceped_card_widget">
              <h4 class="title mb20">We accept</h4>
              <div class="acceped_card_list">
                <ul class="d-flex mb-0">
                  <li class="me-2"><a href="#"><img src="images/resource/visa-card.png" alt="visa-card"></a></li>
                  <li class="me-2"><a href="#"><img src="images/resource/master-card.png" alt="master-card"></a></li>
                  <li class="me-2"><a href="#"><img src="images/resource/apple-pay.png" alt="apple-pay"></a></li>
                  <li class="me-2"><a href="#"><img src="images/resource/discover-card.png" alt="discover-card"></a></li>
                  <li class="me-2"><a href="#"><img src="images/resource/paypal.png" alt="paypal"></a></li>
                  <li><a href="#"><img src="images/resource/amex-card.png" alt="amex-card"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container bdrt1 pt20 pb20">
        <div class="row">
          <div class="col-lg-6">
            <div class="copyright-widget text-center text-lg-start d-block d-lg-flex mb15-md">
              <p class="me-4">© 2022 Zeomart. All Rights Reserved</p>
              <p><a href="#">Privacy</a>  ·  <a href="#">Terms</a>  ·  <a href="#">Sitemap</a></p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="footer_bottom_right_widgets text-center text-lg-end">
              <ul class="mb0">
                <li class="list-inline-item mb20-340">
                  <select class="selectpicker show-tick">
                    <option>Currency : USD</option>
                    <option>Euro</option>
                    <option>Pound</option>
                  </select>
                </li>
                <li class="list-inline-item">
                  <select class="selectpicker show-tick">
                    <option>Language: English</option>
                    <option>Frenc</option>
                    <option>Italian</option>
                    <option>Spanish</option>
                    <option>Turkey</option>
                  </select>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}
