<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id=":sp" class="Am Al editable LW-avf tS-tW" hidefocus="true" aria-label="Message Body" g_editable="true" role="textbox" aria-multiline="true" contenteditable="true" tabindex="1" style="direction: ltr; min-height: 552px;" itacorner="6,7:1,1,0,0" spellcheck="false" aria-owns=":w4" aria-controls=":w4">
        <div style="font-size: 0px; text-align: center; margin: 0px auto; max-width: 500px;">
           <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 500px;">
              <tbody>
                 <tr style="text-align: left;">
                    <td style="border-collapse: separate; direction: ltr; padding: 0px; text-align: center;">
                       <div class="m_-3439636280886248103mj-column-per-100" style="max-width: 100%; width: 500px; line-height: 0; text-align: left; display: inline-block; direction: ltr;">
                          <div class="m_-3439636280886248103mj-column-per-100" style="max-width: 100%; width: 500px; direction: ltr; display: inline-block; vertical-align: top;">
                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align: top;">
                                <tbody>
                                   <tr>
                                      <td align="left" style="border-collapse: separate; padding: 0px; word-break: break-word;">
                                         <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; border-spacing: 0px; width: 500px;">
                                            <tbody>
                                               <tr>
                                                  <td style="border-collapse: separate; width: 112px;">
                                                    <img height="auto" src="https://i.ibb.co/wKh7tyw/cropped-Screenshot-2023-04-03-at-15-44-02.png" width="112" class="gmail-CToWUd" style="border: 0px; height: 40px; object-fit: cover; line-height: 25px; outline: none; display: block; width: 40px; font-size: 15px;"></td>
                                                  <h4>{{ company.name }}</h4>f
                                                    <td align="right" style="border-collapse: separate; padding: 0px; word-break: break-word;">
                                                     <div style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 15px; line-height: 24px; color: rgb(87, 88, 78);">{{order.date}}</div>
                                                  </td>
                                               </tr>
                                            </tbody>
                                         </table>
                                      </td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
        <div style="font-size: 0px; text-align: center; margin: 0px auto; max-width: 500px;">
           <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 500px;">
              <tbody>
                 <tr style="text-align: left;">
                    <td style="border-collapse: separate; direction: ltr; padding: 25px 0px; text-align: center;">
                       <div class="m_-3439636280886248103mj-column-per-100" style="max-width: 100%; width: 500px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                             <tbody>
                                <tr>
                                   <td style="border-collapse: separate; vertical-align: top; padding: 0px;">
                                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                         <tbody>
                                            <tr>
                                               <td align="left" style="border-collapse: separate; padding: 0px; word-break: break-word;">
                                                  <div style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 15px; line-height: 24px; color: rgb(87, 88, 78);">
                                                     <h1 style="font-size: 16px;">We've received your order</h1>
                                                     <div>Hi {{order.full_name}}, thank you for ordering from&nbsp;{{company.name}}!&nbsp;<img data-emoji="🎉" class="an1" alt="🎉" aria-label="🎉" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f389/72.png" loading="lazy"></div>
                                                     <p style="margin: 13px 0px;">Kindly find a summary below.</p>
                                                     <!-- <div style="margin-top: 40px;">
                                                        <a href="https://paystack.shop/download/daac33c13f5d8199efa8343aa1fb16b2b3c9d0c3d4bb8bf11165baf81489b3861c" target="_blank" style="color: rgb(255, 255, 255); text-decoration-line: none; padding: 0px 10px; border: medium solid rgb(59, 183, 94); background-color: rgb(59, 183, 94); display: block; width: 500px; line-height: 42px; text-align: center; border-radius: 5px; box-sizing: border-box;">Download your files</a>
                                                        <p style="margin: 8px 0px 13px; color: rgb(145, 145, 145); font-size: 13px; text-align: center;">This page will expire in 4 days.</p>
                                                     </div> -->
                                                  </div>
                                               </td>
                                            </tr>
                                         </tbody>
                                      </table>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
        <div style="font-size: 0px; text-align: center; margin: 0px auto; max-width: 500px;">
           <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 500px;">
              <tbody>
                 <tr style="text-align: left;">
                    <td style="border-collapse: separate; direction: ltr; padding: 25px 0px; text-align: center;">
                       <div class="m_-3439636280886248103mj-column-per-100" style="max-width: 100%; width: 500px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                             <tbody>
                                <tr>
                                   <td style="border-collapse: separate; background-color: rgba(255, 254, 254, 0.996); border-radius: 12px; vertical-align: top; padding: 20px; border-style: solid; border-width: 1.2px; border-color: rgb(242, 242, 242);">
                                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                         <tbody>
                                            <tr>
                                               <td align="left" style="border-collapse: separate; padding: 0px 0px 10px; word-break: break-word;">
                                                  <div style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 15px; line-height: 15px; color: rgb(87, 88, 78);">Order ID: #{{order.oid}}</div>
                                               </td>
                                            </tr>
                                            <tr>
                                               <td align="left" class="m_-3439636280886248103price-table" style="border-collapse: separate; padding: 15px 0px 0px; word-break: break-word;">
                                                  <table cellpadding="20px" cellspacing="0" width="100%" border="0" style="color: rgb(87, 88, 78); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 15px; line-height: 22px; table-layout: auto; width: 458.182px; border: none;">
                                                     <tbody>
                                                        {% for o in order_items %}
                                                            <tr style="vertical-align: top;">
                                                            <!-- <th style="font-weight: 400; padding-top: 0px; padding-bottom: 20px; padding-left: 0px; width: 80px;"><img src="https://ci3.googleusercontent.com/proxy/C8kHCQR-mCb3jcIZXa7rVpAYpCjrKkgELuO3PEcAzzNxIBBNn4pDezqQUvy_XevesLrdsONkDa_Bd9A3PCL16O7CEzhyMmqsWoOxmNLUojTzEKTIOa3WKOiN4m7DPLi-rcMbWq3skGJd2W1QjhLhT8Fn=s0-d-e1-ft#https://res.cloudinary.com/paystack/image/upload/public/files/products/3lvah4z0eo0u94rflmqw.jpg" align="left" width="80px" height="80px" alt="Item image" class="gmail-CToWUd" style="border: 0px; height: auto; line-height: 15px; outline: none; border-radius: 5px;"></th> -->
                                                            <th style="font-weight: 600; padding-top: 0px; padding-bottom: 20px; padding-left: 0px; text-align: left;">
                                                                <div style="min-width: 100px;">{{o.product_obj.title}}</div>
                                                                <div><span class="m_-3439636280886248103muted" style="color: rgb(144, 144, 144);">Qty:&nbsp;</span>{{ o.qty }}</div>
                                                            </th>
                                                            <th style="font-weight: 400; padding: 0px;">
                                                                <div style="text-align: right; width: max-content; float: right;">USD {{ o.total }}</div>
                                                            </th>
                                                            </tr>
                                                        {% endfor %}

                                                        <tr style="vertical-align: top;">
                                                           <td colspan="3" style="border-collapse: separate; font-size: 0px; padding: 20px 0px; word-break: break-word; text-align: left;">
                                                              <hr style="height: 1px; border-right: 0px; border-bottom: 0px; border-left: 0px; border-image: initial; border-top-style: solid; border-top-color: rgb(243, 243, 243); margin: 0px; padding: 0px;">
                                                           </td>
                                                        </tr>
                                                        <tr style="vertical-align: top;">
                                                           <th style="font-weight: 400; padding-top: 20px; padding-bottom: 0px; border-bottom: 0px; padding-left: 0px; text-align: left;">Subtotal</th>
                                                           <th colspan="2" style="font-weight: 400; padding-top: 20px; padding-bottom: 10px; padding-right: 0px; border-bottom: 0px; text-align: right;"><span class="m_-3439636280886248103muted" style="color: rgb(144, 144, 144); font-size: 14px;">USD {{ order.price }}</span></th>
                                                        </tr>
                                                        <tr style="vertical-align: top;">
                                                            <th style="font-weight: 400; padding-top: 20px; padding-bottom: 0px; border-bottom: 0px; padding-left: 0px; text-align: left;">Shipping</th>
                                                            <th colspan="2" style="font-weight: 400; padding-top: 20px; padding-bottom: 10px; padding-right: 0px; border-bottom: 0px; text-align: right;"><span class="m_-3439636280886248103muted" style="color: rgb(144, 144, 144); font-size: 14px;">USD {{ order.shipping }}</span></th>
                                                         </tr>
                                                         <tr style="vertical-align: top;">
                                                            <th style="font-weight: 400; padding-top: 20px; padding-bottom: 0px; border-bottom: 0px; padding-left: 0px; text-align: left;">VAT/TAX</th>
                                                            <th colspan="2" style="font-weight: 400; padding-top: 20px; padding-bottom: 10px; padding-right: 0px; border-bottom: 0px; text-align: right;"><span class="m_-3439636280886248103muted" style="color: rgb(144, 144, 144); font-size: 14px;">USD {{ order.vat }}</span></th>
                                                         </tr>
                                                        <tr style="vertical-align: top; margin-top: 30px;">
                                                           <th style="font-weight: 500; padding: 0px; border-bottom: 0px; text-align: left;">Order Total</th>
                                                           <th colspan="2" style="font-weight: 400; padding-top: 5px; padding-bottom: 10px; padding-right: 0px; border-bottom: 0px; text-align: right;"><span style="font-size: 14px;">USD {{order.total}}</span></th>
                                                        </tr>
                                                     </tbody>
                                                  </table>
                                               </td>
                                            </tr>
                                         </tbody>
                                      </table>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
        <div style="font-size: 0px; text-align: center; margin: 0px auto; max-width: 500px;">
           <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 500px;">
              <tbody>
                 <tr style="text-align: left;">
                    <td style="border-collapse: separate; direction: ltr; padding: 25px 0px; text-align: center;">
                       <div class="m_-3439636280886248103mj-column-per-100" style="max-width: 100%; width: 500px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align: top;">
                             <tbody>
                                <tr>
                                   <td align="left" style="border-collapse: separate; padding: 0px; word-break: break-word;">
                                      <div style="font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 15px; line-height: 24px; color: rgb(87, 88, 78);">
                                         <h3 style="font-size: 15px; font-weight: 500; margin: 0px 0px 5px; padding: 0px;">Delivery address</h3>
                                         <div><p>Address: {{ order.address }}</p></div>
                                         <div><p>City: {{ order.town_city }}</p></div>
                                         <div><p>State: {{ order.state }}</p></div>
                                         <div><p>Country: {{ order.country }}</p></div>
                                         <div><p>Email: {{ order.email }}</p></div>
                                         <div><p>Mobile: {{ order.mobile }}</p></div>
                                         <div><p>Full Name: {{ order.full_name }}</p></div>
                                      </div>
                                   </td>
                                </tr>
                             </tbody>
                          </table>
                       </div>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
        <div style="font-size: 0px; text-align: center; margin: 0px auto 40px; max-width: 500px;">
           <a href="{{company.website_address}}/vendor/become-a-vendor/" target="_blank" style="text-decoration-line: none;">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 500px;">
                 <tbody>
                    <tr style="text-align: left;">
                       <td style="border-collapse: separate; direction: ltr; padding: 30px; text-align: center; background-color: rgb(249, 247, 241); border-radius: 12px;">
                          <div class="m_-3439636280886248103mj-column-per-100 m_-3439636280886248103shape-icons" style="max-width: 100%; width: 440px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; background-image: url(&quot;https://ci6.googleusercontent.com/proxy/BTW3n_RMhOi3F8UErHJaITyNesGsEZVaDVaJm1PMZ8gpRCReNNxw_XvoWWK8y2SQAhpaeo8kn752JCNKG7mHb5gy-mkapQu8Tf3MuIxMxIaQvHWW4pQx0jXmB3Yo66pZVaaPKmR6itOPLvQcPrt5pHvZtSQCwFNHJtp_1PUCUYXCcUtXD0R407X-pWvnAsjc=s0-d-e1-ft#https://s3.us-east-2.amazonaws.com/files.public.paystack.co/email-templates/assets/red-triangle-yellow-circle-grey-square.png&quot;); background-repeat: no-repeat; background-size: 128px; background-position: 100% 50%;">
                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align: top;">
                                <tbody>
                                   <tr>
                                      <td style="border-collapse: separate; padding: 0px; word-break: break-word; color: rgb(40, 80, 86); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;;">
                                         <h3 style="font-size: 15px; font-weight: normal; margin: 0px 0px 5px; padding: 8px;">Want your own seller page?</h3>
                                         <h3 style="font-size: 15px; font-weight: 500; margin: 0px 0px 5px; padding: 0px 38px 0px 33px; display: inline-block; line-height: 32px; background-color: rgb(255, 255, 255); border-radius: 8px; background-repeat: no-repeat; background-position: 14px 48%, 93% 48%; background-size: 11px, 14px;"><a href="{{company.website_address}}/vendor/become-a-vendor/">Become a vendor today!</a></h3>
                                      </td>
                                   </tr>
                                </tbody>
                             </table>
                          </div>
                       </td>
                    </tr>
                 </tbody>
              </table>
           </a>
        </div>
        <div style="font-size: 0px; text-align: center; margin: 0px auto; max-width: 500px; border-top: 1px solid rgb(243, 243, 243);">
           <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 500px;">
              <tbody>
                 <tr style="text-align: left; vertical-align: top;">
                    <td width="100%" style="word-break: break-word; vertical-align: top; border-collapse: collapse;">
                       <table cellpadding="0" cellspacing="0" width="100%" bgcolor="transparent" style="border-collapse: collapse; border-spacing: 0px; vertical-align: top; width: 500px; max-width: 500px; color: rgb(0, 0, 0); background-color: transparent;">
                          <tbody>
                             <tr style="vertical-align: top;">
                                <td style="word-break: break-word; vertical-align: top; text-align: center; border-collapse: collapse;">
                                   <div style="display: inline-block; vertical-align: top; width: 500px;">
                                      <table cellpadding="0" cellspacing="0" align="center" width="100%" border="0" style="border-collapse: collapse; border-spacing: 0px; vertical-align: top;">
                                         <tbody>
                                            <tr style="text-align: left; vertical-align: top;">
                                               <td style="word-break: break-word; vertical-align: top; background-color: transparent; padding: 24px 0px; border-width: 0px; border-style: solid; border-color: transparent; border-collapse: collapse;">
                                                  <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0px; vertical-align: top;">
                                                     <tbody>
                                                        <tr style="vertical-align: top;">
                                                           <td style="word-break: break-word; vertical-align: top; border-collapse: collapse;">
                                                              <div style="color: rgb(85, 85, 85); line-height: 0px; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, Cantarell, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;">
                                                                 <div style="font-size: 12px; line-height: 14px;">
                                                                    <p style="margin: 0px; line-height: 14px;">© {{company.name}} 2023</p>
                                                                 </div>
                                                              </div>
                                                           </td>
                                                           <td style="word-break: break-word; vertical-align: top; border-collapse: collapse;">
                                                              <div style="color: rgb(85, 85, 85); line-height: 0px; font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen, Ubuntu, Cantarell, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif;">
                                                                 <div style="font-size: 12px; line-height: 14px;">
                                                                    <p style="margin: 0px; line-height: 14px; text-align: right;">Your #1 marketplace for collectibles.                                                                    </p>
                                                                 </div>
                                                              </div>
                                                           </td>
                                                        </tr>
                                                     </tbody>
                                                  </table>
                                               </td>
                                            </tr>
                                         </tbody>
                                      </table>
                                   </div>
                                </td>
                             </tr>
                          </tbody>
                       </table>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
     </div>
</body>
</html>